<h2><%= t(".title") %></h2>

<div class="col-md-8 mt-3">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "partials/form_errors", model: resource %>
    <div class="field mt-2">
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-envelope"></i>
        </span>
        <%= f.email_field :email,
                          autofocus: true,
                          autocomplete: "email",
                          placeholder: "example@email.com",
                          class: "form-control" %>
      </div>
    </div>

    <div class="field mt-2">
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-person"></i>
        </span>
        <%= f.text_field :name,
                         autocomplete: "name",
                         placeholder: t("activerecord.attributes.user.name"),
                         class: "form-control" %>
      </div>
    </div>

    <div class="field mt-2">
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-key"></i>
        </span>
        <% password_placeholder = t(".pass_hint") %>
        <% if @minimum_password_length %>
          <% password_placeholder += " (#{t("devise.registrations.pass_length", number: @minimum_password_length)})" %>
        <% end %>
        <%= f.password_field :password,
                             autocomplete: "new-password",
                             placeholder: password_placeholder,
                             class: "form-control" %>
      </div>
    </div>

    <div class="field mt-2">
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-key"></i>
        </span>
        <%= f.password_field :password_confirmation,
                             autocomplete: "new-password",
                             placeholder: t("activerecord.attributes.user.password_confirmation"),
                             class: "form-control" %>
      </div>
    </div>

    <div class="field mt-2">
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-key"></i>
        </span>
        <%= f.password_field :current_password,
                             autocomplete: "current-password",
                             placeholder: t(".current_pass"),
                             class: "form-control" %>
      </div>
      <i>(<%= t(".current_pass_hint") %>)</i>
    </div>

    <div class="actions mt-3">
      <%= f.submit t(".save"), class: "btn btn-primary" %>
    </div>
  <% end %>

  <button type="button" class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#deleteAcc">
    <%= t(".delete.btn") %>
  </button>
  <div class="modal fade" id="deleteAcc" tabindex="-1" aria-labelledby="deleteAccLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteAccLabel"><%= t(".delete.title") %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= t(".delete.body") %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t(".delete.cancel") %></button>
          <%= button_to t(".delete.confirm"),
                        registration_path(resource),
                        method: :delete,
                        class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  <p class="mt-2"><%= link_to t("layouts.application.back"), :back %></p>
</div>
