<h2><%= t(".title") %></h2>

<div class="col-md-8 mt-3">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "partials/form_errors", model: resource %>
    <div class="field mt-2">
      <div class="input-group">
        <span id="email-addon" class="input-group-text">
          <i class="bi bi-envelope"></i>
        </span>
        <%= f.email_field :email,
                          autofocus: true,
                          autocomplete: "email",
                          placeholder: "example@email.com",
                          class: "form-control" %>
      </div>
    </div>

    <div class="field mt-2">
      <div class="input-group">
        <span class="input-group-text">
          <span class="bi bi-person"></span>
        </span>
        <%= f.text_field :name,
                         autocomplete: "name",
                         placeholder: t("activerecord.attributes.user.name"),
                         class: "form-control" %>
      </div>
    </div>

    <div class="field mt-2">
      <div class="input-group">
        <span class="input-group-text">
          <span class="bi bi-key"></span>
        </span>
        <% password_placeholder = t("activerecord.attributes.user.password") %>
        <% if @minimum_password_length %>
          <% password_placeholder += " (#{t("devise.registrations.pass_length", number: @minimum_password_length)})" %>
        <% end %>
        <%= f.password_field :password,
                             autocomplete: "new-password",
                             placeholder: password_placeholder,
                             class: "form-control" %>
      </div>
    </div>

    <div class="field mt-2">
      <div class="input-group">
        <span class="input-group-text">
          <span class="bi bi-key"></span>
        </span>
        <%= f.password_field :password_confirmation,
                             autocomplete: "new-password",
                             placeholder: t("activerecord.attributes.user.password_confirmation"),
                             class: "form-control" %>
      </div>
    </div>

    <div class="actions mt-3">
      <%= f.submit t("layouts.application.sign_up"), class: "btn btn-primary" %>
      <%= t("layouts.application.or") %>
      <%= link_to t("layouts.application.log_in"), new_user_session_path %>
    </div>
  <% end %>
</div>
