<%= form_for(@event) do |f| %>
  <%= render partial: "partials/form_errors", locals: { model: @event } %>

  <div class="field mt-2">
    <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-chat-square-heart"></i>
        </span>
      <%= f.text_field :title,
                        placeholder: t("activerecord.attributes.event.title"),
                        class: "form-control" %>
    </div>
  </div>

  <div class="field mt-2">
    <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-globe-americas"></i>
        </span>
      <%= f.text_field :address,
                       placeholder: t("activerecord.attributes.event.address"),
                       class: "form-control" %>
    </div>
  </div>

  <div class="field mt-2">
    <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-calendar-date"></i>
        </span>
      <%= f.datetime_select :datetime, {time_separator: "", datetime_separator: ""},
                       class: "form-select" %>
    </div>
  </div>

  <div class="field mt-2">
    <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-card-text"></i>
        </span>
      <%= f.text_area :description,
                       placeholder: t("activerecord.attributes.event.description"),
                       class: "form-control" %>
    </div>
  </div>

  <div class="actions mt-2">
    <%= f.submit t("events.new.save"), class: "btn btn-primary" %>
    <%= t("application.or") %>
    <%= link_to t("application.back"), :back %>
  </div>
<% end %>
