<%= form_for(@event) do |f| %>
  <%= render partial: "partials/form_errors", locals: { model: @event } %>
  <div class="field mt-2">
    <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-chat-square-heart"></i>
        </span>
      <%= f.text_field :title,
                        placeholder: t("activerecord.attributes.event.title"),
                        class: "form-control" %>
    </div>
  </div>

  <div class="field mt-2">
    <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-globe-americas"></i>
        </span>
      <%= f.text_field :address,
                       placeholder: t("activerecord.attributes.event.address"),
                       class: "form-control" %>
    </div>
  </div>

  <div class="field mt-2">
    <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-calendar-date"></i>
        </span>
      <%= f.datetime_select :datetime, {time_separator: "", datetime_separator: ""},
                       class: "form-select" %>
    </div>
  </div>

  <div class="field mt-2">
    <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-card-text"></i>
        </span>
      <%= f.text_area :description,
                       placeholder: t("activerecord.attributes.event.description"),
                       class: "form-control" %>
    </div>
  </div>

  <div class="actions mt-3">
    <%= f.submit t(".save"), class: "btn btn-primary" %>
  </div>
<% end %>

<% if @event.persisted? %>
  <button type="button" class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#deleteEvent">
    <%= t(".delete.btn") %>
  </button>
  <div class="modal fade" id="deleteEvent" tabindex="-1" aria-labelledby="deleteEventLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteEventLabel"><%= t(".delete.title") %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= t(".delete.body") %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t(".delete.cancel") %></button>
          <%= button_to t(".delete.confirm"),
                        event_path(@event),
                        method: :delete,
                        class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<p class="mt-2"><%= link_to t("layouts.application.back"), :back %></p>
