<%= form_for [@event, subscription] do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: subscription} %>
  <% unless user_signed_in? %>
    <div class="field mt-2">
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-person"></i>
        </span>
        <%= f.text_field :user_name,
                        placeholder: t("activerecord.attributes.subscription.user_name"),
                        class: "form-control" %>
      </div>
    </div>

    <div class="field mt-2">
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-envelope-at"></i>
        </span>
        <%= f.text_field :user_email,
                         placeholder: "example@email.com",
                         class: "form-control" %>
      </div>
    </div>
  <% end %>

  <div class="actions mt-3">
    <%= f.submit t(".subscribe"), class: 'btn btn-primary' %>
  </div>
<% end %>
