<h1><%= t '.title' %></h1>
<p><%= t '.name' %>:
  <strong>
    <% if @subscription.user.present? %>
      <%= link_to @name, user_url(@subscription.user) %>
    <% else %>
      <%= @name %>
    <% end %>
  </strong>
</p>
<p><%= t '.email' %>: <strong><%= link_to @email, "mailto:#{@email}" %></strong></p>
<hr/>

<%= t '.event' %>
<h3><%= link_to @event.title, event_url(@event) %></h3>

<%= t '.datetime' %>
<h4><%= l @event.datetime %></h4>

<%= t '.owner' %>
<h4><%= link_to @event.user.name, user_url(@event.user) %></h4>

